body {
    font-family: 'Arial Black', sans-serif;
    margin: 0;
    padding: 0;
}

/* Barra de navegación */
.navbar {
    background-color: #333377db;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo img {
    width: 50px;
}

#div_login_logout {
    width: 100px;
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

#image_login {
    width: 30px;
}

#image_logout {
    width: 30px;
}

.nav-links {
    display: flex;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

#transports_btn {
    background: none;
    border: 0;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-user-select: none; /* for button */
    -webkit-appearance: button; /* for input */
    -moz-user-select: none;
    -ms-user-select: none;
}

#logout_btn {
    background: none;
    border: 0;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-user-select: none; /* for button */
    -webkit-appearance: button; /* for input */
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.login img {
    width: 30px;
}

/* Contenido principal */
.content {
    display: flex;
    justify-content: center; /* Alinea el contenido horizontalmente */
    flex-direction: column;
    padding: 20px;
    width: 95%;
    min-height: 70vh;
    margin: auto;
}

/* Footer */
footer {
    background-color: #333377db;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;

}

.footer-links {
    text-align: end;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.box {
    width: 25%;
    height: auto;
    background-color: #33337740;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#image_plane {
    width: 60%;
    margin: auto;
}

#image_train {
    width: 60%;
    margin: auto;
}

#image_moto {
    width: 60%;
    margin: auto;
}

#image_subway {
    width: 60%;
    margin: auto;
}

#image_car {
    width: 60%;
    margin: auto;
}

#image_boat {
    width: 60%;
    margin: auto;
}

.box a {
    text-align: center;
    display: flex;
}

.box a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #337; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

box a:hover {
    background-color: #337; /* Color de fondo del botón al pasar el cursor */
}

.box a:active {
    background-color: #333377db; /* Color de fondo del botón cuando se hace clic */
}

.box b {
    text-align: center;
    display: flex;
}

.box b {
    display: inline-block;
    padding: 10px 20px;
    background-color: #337; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

box b:hover {
    background-color: #337; /* Color de fondo del botón al pasar el cursor */
}

.box b:active {
    background-color: #333377db; /* Color de fondo del botón cuando se hace clic */
}

.box c {
    text-align: center;
    display: flex;
}

.box c {
    display: inline-block;
    padding: 10px 20px;
    background-color: #337; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

box c:hover {
    background-color: #337; /* Color de fondo del botón al pasar el cursor */
}

.box c:active {
    background-color: #333377db; /* Color de fondo del botón cuando se hace clic */
}

.box d {
    text-align: center;
    display: flex;
}

.box d {
    display: inline-block;
    padding: 10px 20px;
    background-color: #337; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

box d:hover {
    background-color: #337; /* Color de fondo del botón al pasar el cursor */
}

.box d:active {
    background-color: #333377db; /* Color de fondo del botón cuando se hace clic */
}

.box e {
    text-align: center;
    display: flex;
}

.box e {
    display: inline-block;
    padding: 10px 20px;
    background-color: #337; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

box e:hover {
    background-color: #337; /* Color de fondo del botón al pasar el cursor */
}

.box e:active {
    background-color: #333377db; /* Color de fondo del botón cuando se hace clic */
}

.box f {
    text-align: center;
    display: flex;
}

.box f {
    display: inline-block;
    padding: 10px 20px;
    background-color: #337; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

box f:hover {
    background-color: #337; /* Color de fondo del botón al pasar el cursor */
}

.box f:active {
    background-color: #333377db; /* Color de fondo del botón cuando se hace clic */
}
