{% extends "base.html" %}
{% load static %}

{% block content %}
  <!-- Contenido Home -->

      <div class="row">
          <div class="box">
              <img id="image_plane" src="{% static 'images/plane.jpg' %}" alt="Plane">
              <h3> PLANE </h3>
          </div>
          <div class="box">
                <img id="image_boat" src="{% static 'images/boat.jpg' %}" alt="Boat">
                <h3>Boat</h3>
          </div>
        
          <div class="box">
              <img id="image_train" src="{% static 'images/train.jpg' %}" alt="Train">
              <h3> Train </h3>
          </div>

      </div>
      <div class="row">
          <div class="box">
            <img id="image_subway" src="{% static 'images/subway.jpg' %}" alt="Subway">
            <h3> Subway </h3>

          </div>
          <div class="box">Contenido 5</div>
          <div class="box">
              <img id="image_moto" src="{% static 'images/moto.jpg' %}" alt="Motorbike">
              <h3> Motorbike </h3>
          </div>
      </div>

<style>

    .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .box {
    width: 25%;
    height: auto;
    background-color: #33337740;
    padding: 20px;
  }

    #image_plane{
        width: 60%;
        display: inline-block;
    }
    
    #image_train{
      width: 60%;
    }
    
    #image_moto{
      width: 60%;
    }

    #image_subway{
        justify-content: center;
        width: 60%;
    }
        
    #image_boat{
      width: 60%;
      justify-content: center;
      align-items: center;
      width: 60%;
    }
    
    </style>

{% endblock %}

