{% extends "base.html" %}
{% load static %}

{% block content %}

  <!-- Contenido Home -->

      <div class="row">
          <div class="box">
              <img id="image_plane" src="{% static 'images/plane.jpg' %}" alt="Plane">
              <h3> PLANE </h3>
          </div>
          <div class="box">
                <img id="image_boat" src="{% static 'images/boat.jpg' %}" alt="Boat">
                <h3>Boat</h3>
          </div>

          <div class="box">
              <img id="image_train" src="{% static 'images/train.jpg' %}" alt="Train">
              <h3> Train </h3>
          </div>

      </div>
      <div class="row">
          <div class="box">
            <img id="image_subway" src="{% static 'images/subway.jpg' %}" alt="Subway">
            <a href="subway.html">SUBWAY</a>
          </div>
          <div class="box">Contenido 5</div>
          <div class="box">
              <img id="image_moto" src="{% static 'images/moto.jpg' %}" alt="Motorbike">
              <h3> Motorbike </h3>
          </div>
      </div>

<style>

    .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .box {
    width: 25%;
    height: auto;
    background-color: #33337740;
    padding: 20px;
  }
  


    #image_plane{
        width: 60%;
        display: inline-block;
    }

    #image_train{
      width: 60%;
    }

    #image_moto{
      width: 60%;
    }

    #image_subway{
        justify-content: center;
        width: 60%;
    }

        .box a {
            text-align: center;
            display: flex;
        }

        .box a {
            display: inline-block;
            padding: 10px 20px;
            background-color: #337; /* Color de fondo del botón */
            color: #fff; /* Color del texto del botón */
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }

        box a:hover {
            background-color: #0056b3; /* Color de fondo del botón al pasar el cursor */
        }

        .box a:active {
            background-color: #004080; /* Color de fondo del botón cuando se hace clic */
        }

    #image_boat{
      width: 60%;
      justify-content: center;
      align-items: center;
      width: 60%;
    }

    </style>

{% endblock %}
