{% extends "base.html" %}
{% load static %}

{% block content %}

    <body>
        <h1>Airplane Pollution</h1>
        <p>Pollution is the introduction of substances or energy that alter the environment or the quality of life of living beings. It can take various forms, including air, water, soil, acoustic, light, and thermal pollution, among others.</p>
        <img id="airplane_pollution" src="{% static 'images/airplane_pollution.png' %}" alt="Airplane Pollution">
        <h2>The Environmental Impact of Airplanes</h2>
        <ul>
            <li>Air pollution </li>
            <p>Airplanes, crucial for long-distance travel, contribute significantly to air pollution. Jet engines emit pollutants such as carbon dioxide, nitrogen oxides, and particulate matter, which degrade air quality and contribute to climate change.</p>
            <p>Airports also generate pollution through ground transportation, aircraft servicing activities, and other operations. Noise pollution from aircraft can also have detrimental effects on local communities and wildlife.</p>
            <li>How do airports affect the environment?</li>
            <p>Airport construction and expansion often lead to habitat destruction, noise pollution, and increased traffic congestion. Runway construction and expansion may require land clearance, leading to habitat loss and fragmentation.</p>
            <p>Airport operations also consume significant amounts of energy and water, contributing to resource depletion and greenhouse gas emissions.</p>
        </ul>
    </body>

{% endblock %}