{% extends "base.html" %}
{% load static %}

{% block content %}

    <body>
        <h1>Subway Pollution</h1>
        <p>Pollution is the introduction of substances or energy that alter the environment or the quality of life of living beings. It can take various forms, including air, water, soil, acoustic, light, and thermal pollution, among others.</p>
        <img id="subway_people" src="{% static 'images/subway_people.jpg' %}" alt="Subway_people">
        <h2>Types of pollution</h2>
        <ul>
            <li>Air pollution </li>
            <p>Internal combustion engines produce exhaust gases that include nitrogen oxides (NOx), fine particulate matter (PM), carbon monoxide (CO), and other air pollutants. <p>
            <li>Waste and emissions management</li>
            <p> The management of solid waste, wastewater and chemicals used in the cleaning and maintenance of metro facilities can also be a source of pollution. <p>
            <li>Environmental footprint of construction and operation</li>
            <p>The construction and operation of metro systems can have a significant environmental footprint due to the consumption of natural resources, the generation of construction and demolition waste, and the emission of greenhouse gases during the construction and operation of the facilities. <p>
        </ul>
    </body>

{% endblock %}